always-auth=true
enable-pre-post-scripts=true
registry=https://registry.yarnpkg.com/

@netlify:registry=https://npm.pkg.github.com/
@torqlab:registry=https://npm.pkg.github.com/

//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
